.hole-section {
    padding: 100px 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 5px solid var(--border-color);
    background-image: radial-gradient(var(--inner-color), var(--outer-color));
}

.hole-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-15px);

    width: 200px;
}

.hole-label {
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    text-align: center;
}

.hole-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hole-number {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 50px;

    transform: scale(0.2);

    text-align: center;

    font-size: 3rem;
    font-weight: 500;

    color: var(--secondary-text-color);
    opacity: 0.25;

    transition: all 0.25s ease;

    margin: 0 -20px;
}

.hole-number.near {
    opacity: 0.5;
    transform: scale(0.5);
    margin: 0 -10px;
}

.hole-number.active {
    color: var(--text-color);
    opacity: 1;
    transform: scale(1);
    margin: 0;
}

.hole-number.far {
    opacity: 0;
    width: 0;
    transform: scale(0);
    margin: 0;
}

.change-hole-btn {
    background: none;
    border: none;

    color: var(--text-color);
}