.players {
    --player-border-color: #3e3e3e;
    --new-player-color: #2b2b2b;

    display: flex;
    flex-direction: column;
    height: 100vh;

    .head-add-btn {
        padding-left: 7px;
    }

    .player-list {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }

    .player {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;

        padding: 0 15px;
        margin: 0 15px;

        border-radius: 18px;

        background: color-mix(in srgb, var(--player-color) 20%, black);
        border: none;
        box-shadow: 2px 5px var(--box-shadow-color);
    }

    .player-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }

    .player-name {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .player-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    .rounds-played {
        color: var(--secondary-text-color);
    }

    .edit-btn {
        border: none;
        background: transparent;
        color: var(--text-color);
    }

    .list-add-btn {
        height: 50px;
        color: var(--text-color);
        background-color: var(--new-player-color);
        border: none;
        border-radius: 15px;
        margin: 5px 20px;
        font-size: 1rem;
        font-weight: 500;
        box-shadow: 2px 5px var(--box-shadow-color);
    }
}