.home {
     /* Menu spacing */
    --menu-gap-color: #1a1a1a;

    /* Quadrant colors */
    --players-color: #093058;
    --history-color: #580d48;
    --courses-color: #5e3e07;
    --settings-color: #484848;

    /* Start button */
    --start-color: #28642a;

    /* Sizes */
    --quadrant-radius: 30px;
    --center-radius: 35px;


    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.header {
    padding-top: env(safe-area-inset-top);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    height: 80px;
    
    background-color: var(--header-color);
    border-bottom: 5px solid var(--border-color);
}

.menu {
    position: relative;

    flex: 1;
    margin: 20px;

    overflow: hidden;

    background-color: var(--menu-gap-color);
}

.quadrant {
    position: absolute;

    width: calc(50% - 12px);
    height: calc(50% - 12px);

    border: none;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: 1rem;
    color: var(--text-color);
}

.top-left {
    top: 8px;
    left: 8px;

    background-color: var(--players-color);
    border-radius: var(--quadrant-radius) 0 0 0;
}

.top-right {
    top: 8px;
    right: 8px;

    background-color: var(--history-color);
    border-radius: 0 var(--quadrant-radius) 0 0;
}

.bottom-left {
    bottom: 8px;
    left: 8px;

    background-color: var(--courses-color);
    border-radius: 0 0 0 var(--quadrant-radius);
}

.bottom-right {
    bottom: 8px;
    right: 8px;

    background-color: var(--settings-color);
    border-radius: 0 0 var(--quadrant-radius) 0;
}

.quadrant, .start-btn span {
    font-weight: 600;
}

.start-btn {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 150px;
    height: 150px;

    border: none;
    border-radius: var(--center-radius);

    font-size: 1.2rem;
    color: var(--text-color);

    background-color: var(--start-color);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    z-index: 5;

    box-shadow: 0 0 0 10px var(--menu-gap-color);
}

.footer {
    height: 90px;

    border-top: 5px solid var(--border-color);

    background-color: var(--header-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stat {
    text-align: center;
}

.stat h2 {
    margin-top: 4px;
}

.stat p {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}